ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule ^are\-there\-any\-maintenance\-costs\-to\-an\-estate\-plan/?$ /are-there-any-maintenance-costs-to-an-estate-plan-in-new-york/ [R=301,L]
RewriteRule ^as\-a\-trust\-administrator\-can\-i\-sell\-property\-that\-is\-in\-a\-trust/?$ /as-a-trust-administrator-can-i-sell-property-thats-in-a-trust/ [R=301,L]
RewriteRule ^how\-do\-i\-begin\-the\-process\-to\-be\-appointed\-a\-guardian/?$ /how-do-i-begin-the-process-to-be-appointed-as-a-guardian/ [R=301,L]
RewriteRule ^how\-do\-i\-find\-an\-estate\-planning\-attorney/?$ /how-do-i-find-an-estate-planning-attorney-in-new-york/ [R=301,L]
RewriteRule ^how\-long\-does\-it\-take\-a\-court\-to\-grant\-guardianship/?$ /how-long-does-it-take-a-court-to-grant-a-guardianship/ [R=301,L]
RewriteRule ^how\-long\-does\-it\-take\-to\-create\-an\-estate\-plan/?$ /how-long-does-it-take-to-create-an-estate-plan-in-new-york/ [R=301,L]
RewriteRule ^what\-are\-beneficiaries\-rights\-in\-a\-trust/?$ /what-are-the-beneficiarys-rights-in-a-trust/ [R=301,L]
RewriteRule ^what\-documents\-are\-in\-an\-estate\-plan/?$ /what-documents-are-in-an-estate-plan-in-new-york/ [R=301,L]
RewriteRule ^what\-happens\-if\-i\-die\-without\-a\-will/?$ /what-happens-if-i-die-without-a-will-in-new-york/ [R=301,L]
RewriteRule ^what\-is\-court\-appointed\-attorney/?$ /what-is-a-court-appointed-attorney/ [R=301,L]
RewriteRule ^what\-is\-guardian/?$ /what-is-a-guardian/ [R=301,L]
RewriteRule ^what\-is\-the\-definition\-of\-an\-estate/?$ /what-is-the-definition-of-an-estate-in-new-york/ [R=301,L]
RewriteRule ^where\-do\-i\-start\-with\-estate\-planning/?$ /where-do-i-start-with-estate-planning-in-new-york/ [R=301,L]
RewriteRule ^will\-the\-guardian\-be\-required\-to\-cover\-all\-of\-that\-persons\-expenses/?$ /will-the-guardian-be-required-to-cover-all-of-the-persons-expenses/ [R=301,L]
RewriteRule ^contact/?$ /contact-us/ [R=301,L]
RewriteRule ^contact\-us\-covid\-19/?$ /contact-us/ [R=301,L]
RewriteRule ^about/?$ /attorney-profile/akiva-shapiro-esq/ [R=301,L]
RewriteRule ^author/akivas/?$ /attorney-profile/akiva-shapiro-esq/ [R=301,L]
RewriteRule ^webinars/?$ /attorney-profile/webinars/ [R=301,L]
RewriteRule ^webinars\-2/?$ /attorney-profile/webinars/ [R=301,L]
RewriteRule ^blog/?$ /faq/ [R=301,L]
RewriteRule ^news/?$ /faq/ [R=301,L]
RewriteRule ^sign\-up/?$ /contact-us/ [R=301,L]
RewriteRule ^test\-build/?$ / [R=301,L]
RewriteRule ^testing/?$ / [R=301,L]
RewriteRule ^testingpage/?$ / [R=301,L]
RewriteRule ^testpage/?$ / [R=301,L]
RewriteRule ^sample\-page\-2/?$ / [R=301,L]
RewriteRule ^destinations/?$ / [R=301,L]
RewriteRule ^slide\-types/client/?$ / [R=301,L]
RewriteRule ^can\-i\-have\-more\-than\-one\-trust/?$ /can-a-person-have-more-than-one-trust/ [R=301,L]
RewriteRule ^how\-long\-does\-the\-initial\-trust\-administration\-generally\-takes/?$ /how-long-does-initial-trust-administration-take/ [R=301,L]
